.env
.idea

/proxy/.env

/backend/.env
/backend/src/

/frontend/.env
/frontend/src/

/adminpanel/.env
/adminpanel/src/

/services/.env
/services/storage/mysql/data/
/services/storage/redis/data/

/services/broadcast/node_modules/
/services/broadcast/yarn.lock

/admin_nuxt
/admin_nuxt/*